In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Comparison ##

In [ ]:
3 > 1

In [ ]:
type(3 > 1)

In [ ]:
3 < 1

In [ ]:
True

In [ ]:
3 == 3

In [ ]:
3 = 3

In [ ]:
x = 14
y = 3

In [ ]:
x > 10 and y > 5

## Comparisons with arrays

In [ ]:
pets = make_array('cat', 'dog', 'cat', 'cat', 'dog', 'rabbit')

In [ ]:
pets == 'dog'

In [ ]:
pets > 'cat'

In [ ]:
sum(make_array(False, True, False, False, True, False))

In [ ]:
sum(pets == 'dog')

In [ ]:
np.count_nonzero(pets == 'dog')

## Advanced `where` with predicates to pick rows

In [ ]:
terms = Table().with_column('Semester', np.arange(1, 9))
terms

In [ ]:
terms.where('Semester', are.above(6))

In [ ]:
def is_senior(x):
    return x > 6

In [ ]:
is_senior(5)

In [ ]:
terms.apply(is_senior, 'Semester')

In [ ]:
terms.where('Semester', are.above(6))

In [ ]:
terms.where(terms.apply(is_senior, 'Semester'))

## Conditional Statements ##

In [ ]:
def year_from_semesters(x):
    if x <= 0:
        return 'Not a valid input'
    elif x <= 2:
        return 'Freshman'
    elif x <= 4:
        return 'Sophomore'
    elif x <= 6:
        return 'Junior'
    elif x <= 8:
        return 'Senior'

In [ ]:
year_from_semesters(-15.6)

In [ ]:
year_from_semesters(5)

In [ ]:
year_from_semesters(9001)

In [ ]:
terms.with_column('Year', terms.apply(year_from_semesters, 'Semester'))

## Appending Arrays ##

In [ ]:
first = np.arange(1, 6)
second = np.arange(6, 11)

In [ ]:
first

In [ ]:
second

In [ ]:
np.append(first, 30)

In [ ]:
np.append(first, second)

In [ ]:
first

## Random Selection ##

In [ ]:
two_groups = make_array('treatment', 'control')

In [ ]:
np.random.choice(two_groups)

In [ ]:
np.random.choice(two_groups)

In [ ]:
np.random.choice(two_groups, 10)

In [ ]:
sum(np.random.choice(two_groups, 10) == 'treatment')

In [ ]:
sum(np.random.choice(two_groups, 10) == 'control')

In [ ]:
outcomes = np.random.choice(two_groups, 10)

In [ ]:
outcomes

In [ ]:
sum(outcomes == 'treatment')

In [ ]:
sum(outcomes == 'control')

## A simple experiment/simulation

In [ ]:
coin = ['heads', 'tails']

In [ ]:
np.random.choice(coin)

In [ ]:
tosses = np.random.choice(coin, 100)
tosses

In [ ]:
sum(tosses == 'heads')

In [ ]:
outcomes = make_array()

In [ ]:
outcomes

In [ ]:
np.append(outcomes, sum(np.random.choice(coin, 100) == 'heads'))

In [ ]:
outcomes

In [ ]:
outcomes = np.append(outcomes, sum(np.random.choice(coin, 100) == 'heads'))
outcomes

## `For` Statements

In [ ]:
# the number of stations that have more than 500 starts and starts
outcomes = make_array()

for i in np.arange(7):
    outcomes = np.append(outcomes, sum(np.random.choice(coin, 100) == 'heads'))
outcomes

In [ ]:
outcomes = make_array()

for i in np.arange(10000):
    outcomes = np.append(outcomes, sum(np.random.choice(coin, 100) == 'heads'))

In [ ]:
Table().with_column(
    'Heads in 100 Tosses', outcomes
).hist(bins = np.arange(25.5, 75.5))