In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Join Example

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Coffee',   'Nefeli',  3],
    ['Espresso', "Abe's",   2]
])

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(5, 50, 25),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)

In [ ]:
discounts

In [ ]:
# Link (join) drinks with discounts
combined = drinks.join('Cafe', discounts, 'Location')

In [ ]:
combined

In [ ]:
#Compute discounted prices
discounted_prices = combined.column('Price') * (1 - combined.column('Coupon % off')/100)

discounted_drinks = combined.with_column(
    'Discounted price', discounted_prices
)

In [ ]:
discounted_drinks

In [ ]:
# Find least expensive discounted drink
# for each cafe with discountedd drinks

In [ ]:
#Incorrect, e.g. Coffee is first alphabetically
discounted_drinks.group('Cafe', min)

In [ ]:
# Correct

discounted_drinks.sort('Discounted price').sort('Cafe', distinct=True) # Correct, Espresso is cheaper

## Bikes

In [ ]:
trips = Table.read_table('trip.csv')
trips

In [ ]:
trips = trips.where('Duration', are.below(1800))
trips.hist('Duration')

In [ ]:
trips.hist('Duration', bins=60, unit='second')

In [ ]:
(550-250) * 0.15

In [ ]:
trips.hist('Duration', bins=np.arange(1801), unit='second')

In [ ]:
starts = trips.group('Start Station').sort('count', descending=True)
starts

In [ ]:
trips.pivot('Start Station', 'End Station')

In [ ]:
duration = trips.select('Start Station', 'End Station', 'Duration')
duration

In [ ]:
shortest = duration.group(['Start Station', 'End Station'], min)
shortest

In [ ]:
from_cc = shortest.where('Start Station', are.containing('Civic Center BART')).sort('Duration min')
from_cc

## Maps

In [ ]:
t = Table().with_columns([
        'lat', [37.8, 38, 37.9],
        'lon', [-122, -122.1, -121.9],
        'labels', ['one', 'two', 'three'],
    ])
Marker.map_table(t.select('lat','lon','labels'))

In [ ]:
t = Table().with_columns([
        'lat', [36.1540, 36.1540],
        'lon', [-95.9928, -95.9461],'color', ['red', 'green'],
        'labels', ['Tulsa','TU'],
    ])
Marker.map_table(t.select('lat','lon','labels'))

In [ ]:
t = Table().with_columns([
        'lat', [36.1540, 36.1540],
        'lon', [-95.9928, -95.9461],
        'labels', ['Tulsa','TU'],
     ])
Circle.map_table(t.select('lat','lon','labels'), color='green', area=1000)

In [ ]:
stations = Table.read_table('station.csv')
stations = stations.relabeled('name','labels')
stations

In [ ]:
Marker.map_table(stations.select('lat', 'long', 'labels'))

In [ ]:
Circle.map_table(stations.select('lat', 'long', 'labels'), area=1000, color='green')

In [ ]:
sf = stations.where('landmark', 'San Francisco')
Circle.map_table(sf.select('lat', 'long', 'labels'), color='green', area=150)

In [ ]:
colors = stations.group('landmark').with_column(
    'color', make_array('blue', 'red', 'green', 'orange', 'purple'))
colors

In [ ]:
colored = stations.join('landmark', colors).select('lat', 'long', 'labels', 'color')
Marker.map_table(colored)

In [ ]:
station_starts = stations.join('labels', starts, 'Start Station')
station_starts

In [ ]:
station_starts = station_starts.join('landmark', colors.drop('count'))
station_starts

In [ ]:
station_starts = station_starts.with_column(
    'circle size',
    station_starts.column('count') * .5
)
station_starts

In [ ]:
Circle.map_table(station_starts.select('lat', 'long','labels'))

In [ ]:
Circle.map_table(station_starts.select('lat', 'long', 'labels', 'color', 'circle size').relabeled('circle size','area'))