In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 10 ##

## Apply with Multiple Columns ##

In [ ]:
temperatures = Table.read_table('temperatures.csv')
temperatures

In [ ]:
temperatures.plot('Day')

In [ ]:
temperatures.select('Low', 'High').hist(bins=np.arange(30, 105, 5))

In [ ]:
temperatures.scatter('Low', 'High')

In [ ]:
# Difference between high temp and low temp

def difference(x, y):
    return x-y

difference(65, 54)

In [ ]:
daily_spread = temperatures.apply(difference, 'High', 'Low')
temperatures = temperatures.with_column('Spread', daily_spread)
temperatures

In [ ]:
temperatures.hist('Spread', bins=np.arange(0, 40, 4))

In [ ]:
temperatures.where('Spread', are.above(20)).num_rows / temperatures.num_rows

## Function with Optional Arguments ##

In [ ]:
def percents(s, places):
    return np.round(s/sum(s) * 100, places)

In [ ]:
x = make_array(2, 5, 16)
percents(x, 4)

In [ ]:
def percents(s, places=2):
    return np.round(s/sum(s) * 100, places)

In [ ]:
percents(x)

## Grouping by Category ##

In [ ]:
all_cones = Table.read_table('cones.csv')
all_cones

In [ ]:
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.group('Flavor', min)

In [ ]:
cones.group('Flavor', list)

In [ ]:
cones.group('Flavor', np.average)

In [ ]:
cones.group('Flavor', min)

In [ ]:
min(cones.where('Flavor', 'chocolate').column('Price'))

In [ ]:
def spread(arr):
    return max(arr) - min(arr)

spread(make_array(7, 10, 2))

In [ ]:
cones.group('Flavor', spread)

In [ ]:
cones

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.group(['Flavor', 'Color'], np.average)

## Examples ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# total salary paid by each team, highest first

nba.select('TEAM', 'SALARY').group('TEAM', sum).sort('SALARY sum', descending=True)

In [ ]:
nba.group('TEAM', sum)

In [ ]:
# average salary paid for each position

nba.select('POSITION', 'SALARY').group('POSITION', np.average)

In [ ]:
# for each team, average salary paid for each position

nba.drop('PLAYER').group(['TEAM', 'POSITION'], np.average)

## Pivot Tables ##

In [ ]:
all_cones

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.pivot('Flavor', 'Color')

In [ ]:
all_cones.pivot('Flavor', 'Color', values='Price', collect=np.average)

## Examples ##

In [ ]:
survey = Table.read_table('welcome_survey.csv')

In [ ]:
survey.show(3)

In [ ]:
survey.pivot('Pant leg order', 'Handedness')

In [ ]:
nba

In [ ]:
# for each team, average salary paid for each position

nba.pivot('POSITION', 'TEAM', values = 'SALARY', collect = np.average)

In [ ]:
# CHALLENGE QUESTION: for each team,
# amount paid to "starter" (player earning the most) in each position